/*Define webkit animation*/
@-webkit-keyframes progress-rotating {
  0% { background-image: url("image/loading_01.png"); }
  16.67% { background-image: url("image/loading_02.png"); }
  33.33% { background-image: url("image/loading_03.png"); }
  50% { background-image: url("image/loading_04.png"); }
  66.67% { background-image: url("image/loading_05.png"); }
  83.33% { background-image: url("image/loading_06.png"); }
  100% { background-image: url("image/loading_01.png"); }
}
@-webkit-keyframes progress-ltr-loading{
  0% { margin-left: -100%; }
  100% { margin-left: 100%; }
}
@-webkit-keyframes media-infor-fading{
  0% {opacity: 0; display: block;}
  1% {opacity: 1; display: block;}
  66% {opacity: 1; display: block;}
  100% {opacity: 0; display: none;}
}
@-webkit-keyframes play-pause-fading{
  0% {opacity: 0; display: block;}
  1% {opacity: 1; display: block;}
  66% {opacity: 1; display: block;}
  100% {opacity: 0; display: none;}
}
@-webkit-keyframes media-infor-queue-insert-fading {
  0% {opacity: 0; display: block;}
  1% {opacity: 1; display: block;}
  80% {opacity: 1; display: block;}
  100% {opacity: 0; display: none;}
}
/* (End) Define webkit animation*/

/* player type = video, state = launching*/
.media-player-dom[state="launching"][lang="en"] {
	background-image: url("image/background.jpg");
}
.media-player-dom[state="launching"][lang="vi"] {
	background-image: url("image/background_vi.jpg");
}
.media-player-dom[type="video"][state="launching"] .media-info-show-part,
.media-player-dom[type="video"][state="launching"] .chrome-cast-logo{
  display: block;
}
/*
.media-player-dom[type="video"][state="launching"] .spinner-progress {
  -webkit-animation: progress-rotating 1s infinite linear;
  position: absolute;
  background-image: url("image/bufferingProgess.png");
  bottom: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: -75px;
  margin-left: -75px;
}*/
 
.media-player-dom[type="video"][state="launching"] .vod_background,
.media-player-dom[type="video"][state="launching"] .vod_poster,
.media-player-dom[type="video"][state="launching"] .vod_title,
.media-player-dom[type="video"][state="launching"] .vod_line,
.media-player-dom[type="video"][state="launching"] .vod_director_tag,
.media-player-dom[type="video"][state="launching"] .vod_director,
.media-player-dom[type="video"][state="launching"] .vod_star_tag,
.media-player-dom[type="video"][state="launching"] .vod_star,
.media-player-dom[type="video"][state="launching"] .vod_line_1,
.media-player-dom[type="video"][state="launching"] .vod_line_2,
.media-player-dom[type="video"][state="launching"] .vod_like_icon,
.media-player-dom[type="video"][state="launching"] .vod_year,
.media-player-dom[type="video"][state="launching"] .vod_genres,
.media-player-dom[type="video"][state="launching"] .vod_hot_type_icon,
.media-player-dom[type="video"][state="launching"] .vod_line_3,
.media-player-dom[type="video"][state="launching"] .vod_line_4,
.media-player-dom[type="video"][state="launching"] .vod_likes_number,
.media-player-dom[type="video"][state="launching"] .vod_subtitle {
	display: none;
}
.media-player-dom[type="video"][state="launching"] .media-info,
.media-player-dom[type="video"][state="launching"] .media-artwork {
  display: none;
}
/* (End) player type = video, state = launching*/

/* media-player-dom type = video, state = loading*/
.media-player-dom[type="video"][state="loading"][live="true"] .media-title,
.media-player-dom[type="video"][state="loading"][live="true"] .media-subtitle{
	display: none;
}
.media-player-dom[type="video"][state="loading"][live="true"] .media-artwork {
  width: 120px;
  height: 60px;
  display: block;
}

.media-player-dom[type="video"][state="loading"] .media-title,
.media-player-dom[type="video"][state="loading"] .media-subtitle,
.media-player-dom[type="video"][state="loading"] .media-artwork{
	display: none;
}

.media-player-dom[type="video"][state="loading"][live="true"] .vod_background,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_poster,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_title,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_line,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_director_tag,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_director,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_star_tag,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_star,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_line_1,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_line_2,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_like_icon,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_year,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_genres,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_hot_type_icon,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_line_3,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_line_4,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_likes_number,
.media-player-dom[type="video"][state="loading"][live="true"] .vod_subtitle {
	display: none;
}

.media-player-dom[type="video"][state="loading"] .vod_background,
.media-player-dom[type="video"][state="loading"] .vod_poster,
.media-player-dom[type="video"][state="loading"] .vod_title,
.media-player-dom[type="video"][state="loading"] .vod_line,
.media-player-dom[type="video"][state="loading"] .vod_director_tag,
.media-player-dom[type="video"][state="loading"] .vod_director,
.media-player-dom[type="video"][state="loading"] .vod_star_tag,
.media-player-dom[type="video"][state="loading"] .vod_star,
.media-player-dom[type="video"][state="loading"] .vod_line_1,
.media-player-dom[type="video"][state="loading"] .vod_line_2,
.media-player-dom[type="video"][state="loading"] .vod_like_icon,
.media-player-dom[type="video"][state="loading"] .vod_year,
.media-player-dom[type="video"][state="loading"] .vod_genres,
.media-player-dom[type="video"][state="loading"] .vod_hot_type_icon,
.media-player-dom[type="video"][state="loading"] .vod_line_3,
.media-player-dom[type="video"][state="loading"] .vod_line_4,
.media-player-dom[type="video"][state="loading"] .vod_likes_number,
.media-player-dom[type="video"][state="loading"] .vod_subtitle 
{
	/**/display: block;/**/
	/**display: none;/**/
}

.media-player-dom[type="video"][state="loading"][live="true"] {
	background-image: url("image/chromcast_bg.jpg");
	/*background-image: url("image/chrom_cast_iframe2.png");*/
}
.media-player-dom[type="video"][state="loading"] {
	/**background-image: url("image/chromcast_bg.jpg");*/
	background-image: url("image/iframe_chromcast_casting.jpg");
}
.media-player-dom[type="video"][state="loading"] .media-info-show-part{
  display: block;
}
.media-player-dom[type="video"][state="loading"] .watermark {
    display: none;
}
.media-player-dom[type="video"][state="loading"] .controls {
  /**/display: block;/**/
  /**display: none;/**/
}
/*
.media-player-dom[type="video"][state="loading"] .controls-progress-inner {
  width: 100% !important;
  -webkit-animation: progress-ltr-loading 2s infinite linear;
}*/
.media-player-dom[type="video"][state="loading"] .controls-play-pause-loading {
  display: block;
  visibility: visible;
  -webkit-animation: progress-rotating 1s infinite linear;
}

.media-player-dom[type="video"][state="loading"] .controls-cur-time,
.media-player-dom[type="video"][state="loading"] .controls-total-time,
.media-player-dom[type="video"][state="loading"] .controls-progress-thumb{
  display: none;
}
/* (End) player type = video, state = loading*/

/* player type = video, state = buffering*/
.media-player-dom[type="video"][state="buffering"] .media-info-show-part,
.media-player-dom[type="video"][state="buffering"] .shadow-effect {
  display: block;
  visibility: visible;
}
.media-player-dom[type="video"][state="buffering"] video{
  display: block;
}
.media-player-dom[type="video"][state="buffering"] .shadow-effect {
  opacity: 0.6;
}
.media-player-dom[type="video"][state="buffering"] .controls-play-pause-loading {
  display: block;
  visibility: visible;
  -webkit-animation: progress-rotating 1s infinite linear;
}
.media-player-dom[type="video"][state="buffering"] .media-artwork,
.media-player-dom[type="video"][state="buffering"] .media-info {
  display: none;
}
.media-player-dom[type="video"][state="buffering"]:not(.seeking) .controls-cur-time,
.media-player-dom[type="video"][state="buffering"]:not(.seeking) .controls-total-time,
.media-player-dom[type="video"][state="buffering"]:not(.seeking) .controls-progress,
.media-player-dom[type="video"][state="buffering"]:not(.seeking) .controls,
.media-player-dom[type="video"][state="buffering"] .controls {
    display: block !important;
}
.media-player-dom[type="video"][state="buffering"] .controls-cur-time,
.media-player-dom[type="video"][state="buffering"] .controls-total-time,
.media-player-dom[type="video"][state="buffering"] .controls-progress {
    display: block !important;
}
.media-player-dom[type="video"][state="buffering"][preview="true"] .preview-info {
  display: flex;
}
/* (End) player type = video, state = buffering*/

/* player type = video, state = paused*/
.media-player-dom[type="video"][state="paused"][live="true"] .media-artwork,
.media-player-dom[type="video"][state="paused"][live="true"] .media-title,
.media-player-dom[type="video"][state="paused"][live="true"] .media-subtitle{
	display: none;
}

.media-player-dom[type="video"][state="paused"][live="true"] .vod_background,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_poster,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_title,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_line,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_director_tag,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_director,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_star_tag,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_star,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_line_1,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_line_2,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_like_icon,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_year,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_genres,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_hot_type_icon,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_line_3,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_line_4,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_likes_number,
.media-player-dom[type="video"][state="paused"][live="true"] .vod_subtitle {
	display: none;
}

.media-player-dom[type="video"][state="paused"] .media-artwork,
.media-player-dom[type="video"][state="paused"] .media-title,
.media-player-dom[type="video"][state="paused"] .media-subtitle{
	display: none;
}

.media-player-dom[type="video"][state="paused"] .vod_background,
.media-player-dom[type="video"][state="paused"] .vod_poster,
.media-player-dom[type="video"][state="paused"] .vod_title,
.media-player-dom[type="video"][state="paused"] .vod_line,
.media-player-dom[type="video"][state="paused"] .vod_director_tag,
.media-player-dom[type="video"][state="paused"] .vod_director,
.media-player-dom[type="video"][state="paused"] .vod_star_tag,
.media-player-dom[type="video"][state="paused"] .vod_star,
.media-player-dom[type="video"][state="paused"] .vod_line_1,
.media-player-dom[type="video"][state="paused"] .vod_line_2,
.media-player-dom[type="video"][state="paused"] .vod_like_icon,
.media-player-dom[type="video"][state="paused"] .vod_year,
.media-player-dom[type="video"][state="paused"] .vod_genres,
.media-player-dom[type="video"][state="paused"] .vod_hot_type_icon,
.media-player-dom[type="video"][state="paused"] .vod_line_3,
.media-player-dom[type="video"][state="paused"] .vod_line_4,
.media-player-dom[type="video"][state="paused"] .vod_likes_number,
.media-player-dom[type="video"][state="paused"] .vod_subtitle {
	display: block;
}

.media-player-dom[type="video"][state="paused"] .media-info-show-part,
.media-player-dom[type="video"][state="paused"] .shadow-effect,
.media-player-dom[type="video"][state="paused"] .watermark {
  display: block;
  visibility: visible;
}
.media-player-dom[type="video"][state="paused"] video {
  display: block;
}
.media-player-dom[type="video"][state="paused"] .watermark {
    display: none;
}
.media-player-dom[type="video"][state="paused"] .controls,
.media-player-dom[type="video"][state="paused"]:not(.seeking) .controls,
.media-player-dom[type="video"][state="paused"]:not(.seeking) .controls-cur-time,
.media-player-dom[type="video"][state="paused"]:not(.seeking) .controls-total-time,
.media-player-dom[type="video"][state="paused"]:not(.seeking) .controls-progress {
  /**/display: block;/**/
  /**display: none;/**/
}

.media-player-dom[type="video"][state="paused"] .controls-play-pause {
  display: block;
  visibility: visible;
  background-image: url("image/paused.png");
}
.media-player-dom[type="video"][state="paused"][live="true"] .controls-cur-time,
.media-player-dom[type="video"][state="paused"][live="true"] .controls-total-time,
.media-player-dom[type="video"][state="paused"][live="true"] .controls-progress {
  /**display: none !important;**/
    display: block;
}
.media-player-dom[type="video"][state="paused"] .controls-cur-time,
.media-player-dom[type="video"][state="paused"] .controls-total-time,
.media-player-dom[type="video"][state="paused"] .controls-progress {
    display: block;
}
.media-player-dom[type="video"][state="paused"] .media-info {
  opacity: 1;
  /*-webkit-animation: media-infor-fading 12s linear 4s;/**/
}
.media-player-dom[type="video"][state="paused"][preview="true"] .media-info {
  opacity: 1;
}
.media-player-dom[type="video"][state="paused"] .shadow-effect {
  opacity: 0.6;
}
/* (End) player type = video, state = paused*/

/* player type = video, playing = playing*/
/* player type = video, state = launching*/
.media-player-dom[type="video"][state="playing"] {
	background-image: url("image/chromcast_bg.jpg");
}

.media-player-dom[type="video"][state="playing"] .vod_background,
.media-player-dom[type="video"][state="playing"] .vod_poster,
.media-player-dom[type="video"][state="playing"] .vod_title,
.media-player-dom[type="video"][state="playing"] .vod_line,
.media-player-dom[type="video"][state="playing"] .vod_director_tag,
.media-player-dom[type="video"][state="playing"] .vod_director,
.media-player-dom[type="video"][state="playing"] .vod_star_tag,
.media-player-dom[type="video"][state="playing"] .vod_star,
.media-player-dom[type="video"][state="playing"] .vod_line_1,
.media-player-dom[type="video"][state="playing"] .vod_line_2,
.media-player-dom[type="video"][state="playing"] .vod_like_icon,
.media-player-dom[type="video"][state="playing"] .vod_year,
.media-player-dom[type="video"][state="playing"] .vod_genres,
.media-player-dom[type="video"][state="playing"] .vod_hot_type_icon,
.media-player-dom[type="video"][state="playing"] .vod_line_3,
.media-player-dom[type="video"][state="playing"] .vod_line_4,
.media-player-dom[type="video"][state="playing"] .vod_likes_number,
.media-player-dom[type="video"][state="playing"] .vod_subtitle {
	display: none;
}

.media-player-dom[type="video"][state="playing"] .media-info-show-part,
.media-player-dom[type="video"][state="playing"] .shadow-effect,
.media-player-dom[type="video"][state="playing"] .watermark {
  display: block;
  visibility: hidden;
}
.media-player-dom[type="video"][state="playing"].seeking .media-info-show-part,
.media-player-dom[type="video"][state="playing"].seeking .shadow-effect,
.media-player-dom[type="video"][state="playing"][preview="true"] .media-info-show-part,
.media-player-dom[type="video"][state="playing"][preview="true"] .shadow-effect,
.media-player-dom[type="video"][state="playing"][preview="true"] .watermark {
  display: block;
  visibility: visible;
}
.media-player-dom[type="video"][state="playing"] video{
  display: block;
}
.media-player-dom[type="video"][state="playing"].seeking .controls {
  /**display: block/**/;
  /**/display: none/**/;
}
.media-player-dom[type="video"][state="playing"].seeking .media-info,
.media-player-dom[type="video"][state="playing"][preview="true"] .media-info {
  display: none;
}
.media-player-dom[type="video"][state="playing"]:not(.seeking) .controls-play-pause{
  display: block;
  visibility: visible;
  opacity: 0;
  background-image: url("image/playing.png");
  -webkit-animation: play-pause-fading 3s linear;
}
.media-player-dom[type="video"][state="playing"]:not(.seeking) .controls-cur-time {
  margin-left: 0;
}
.media-player-dom[type="video"][state="playing"][live="true"] .controls-cur-time,
.media-player-dom[type="video"][state="playing"][live="true"] .controls-total-time,
.media-player-dom[type="video"][state="playing"][live="true"] .controls-progress {
  display: none !important;
}
.media-player-dom[type="video"][state="playing"][preview="true"] .preview-info {
  display: flex;
}
.media-player-dom[type="video"][state="playing"][preview="true"].seeking .preview-info {
  display: flex;
}
/* (End) player type = video, playing = playing*/

/* player playing = idle*/
.media-player-dom[state="idle"] .media-info-show-part,
.media-player-dom[state="idle"] .spinner-progress{
  display: none;
}

.media-player-dom[state="idle"] .vod_background,
.media-player-dom[state="idle"] .vod_poster,
.media-player-dom[state="idle"] .vod_title,
.media-player-dom[state="idle"] .vod_line,
.media-player-dom[state="idle"] .vod_director_tag,
.media-player-dom[state="idle"] .vod_director,
.media-player-dom[state="idle"] .vod_star_tag,
.media-player-dom[state="idle"] .vod_star,
.media-player-dom[state="idle"] .vod_line_1,
.media-player-dom[state="idle"] .vod_line_2,
.media-player-dom[state="idle"] .vod_like_icon,
.media-player-dom[state="idle"] .vod_year,
.media-player-dom[state="idle"] .vod_genres,
.media-player-dom[state="idle"] .vod_hot_type_icon,
.media-player-dom[state="idle"] .vod_line_3,
.media-player-dom[state="idle"] .vod_line_4,
.media-player-dom[state="idle"] .vod_likes_number,
.media-player-dom[state="idle"] .vod_subtitle {
	display: none;
}

.media-player-dom[state="idle"] {
  opacity: 1;
}
.media-player-dom[state="idle"][lang="en"] {
	background-image: url("image/background.jpg");
	/*background-image: url("image/chrom_cast_iframe1.png");*/
}
.media-player-dom[state="idle"][lang="vi"] {
	background-image: url("image/background_vi.jpg");
	/*background-image: url("image/chrom_cast_iframe1.png");*/)
}
.media-player-dom[state="idle"] .chrome-cast-logo {
  display: block;
}
/* (End) player playing = idle*/

/* player playing = done*/
.media-player-dom[state="done"] .media-info-show-part {
  display: none;
}

.media-player-dom[state="done"] .vod_background,
.media-player-dom[state="done"] .vod_poster,
.media-player-dom[state="done"] .vod_title,
.media-player-dom[state="done"] .vod_line,
.media-player-dom[state="done"] .vod_director_tag,
.media-player-dom[state="done"] .vod_director,
.media-player-dom[state="done"] .vod_star_tag,
.media-player-dom[state="done"] .vod_star,
.media-player-dom[state="done"] .vod_line_1,
.media-player-dom[state="done"] .vod_line_2,
.media-player-dom[state="done"] .vod_like_icon,
.media-player-dom[state="done"] .vod_year,
.media-player-dom[state="done"] .vod_genres,
.media-player-dom[state="done"] .vod_hot_type_icon,
.media-player-dom[state="done"] .vod_line_3,
.media-player-dom[state="done"] .vod_line_4,
.media-player-dom[state="done"] .vod_likes_number,
.media-player-dom[state="done"] .vod_subtitle {
	display: none;
}

.media-player-dom[state="done"] {
  background-image: url('image/done.png');
}
/* player playing = done*/

/* style queue event*/
.media-player-dom:not(.queue-event) .media-info-queue-frame,
.media-player-dom:not(.queue-event) .media-info-queue-insert {
    display: none;
    /**-webkit-animation: media-infor-queue-insert-fading 5s infinite linear;/**/
}
.media-player-dom.queue-event .media-info-queue-insert {
  display: block;
    /**/-webkit-animation: media-infor-queue-insert-fading 5s infinite linear;/**/
}

/* (End) style queue event*/